<!DOCTYPE html>
<html>
<head>
    <title>Example OIDC Client</title>
</head>
<body>
<header>
    <div>
        <% if (!locals.isLoggedIn) { %>
        <a  href="/auth">
            <img width="100%" src="/public/k2s%20unauth.png" />
        </a>
        <% } else { %>
        <a href="/logout">
            <img width="100%" src="/public/k2s%20auth.png" />
        </a>
        <% } %>
    </div>
</header>
</body>
</html>